@import '../../sass/variables';
@import '../../sass/_mixins';

.user-block {
  display: flex;
  align-items: center;

    &__link {
    @include font-family;
    @include font-size(16px, 400, normal);

    display: flex;
    align-items: center;
    color: $balticsea;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $royalblue;
      text-decoration: underline;
    }
  }

  &__icon {
    margin-right: 10px;
    fill: $balticsea;

    .user-block__link:hover &,
    .user-block__link:focus & {
      fill: $royalblue;
    }
  }
}
