@import '../../sass/variables';
@import '../../sass/mixins';

.converter-history {
  display: flex;
  min-height: 477px;
}

.converter-history__container {
  @include container;

  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 70px;
  padding-right: 70px;
  background-color: $zircon;
}

.converter-history__title {
  @include font-family;
  @include font-size(28px, 700, 39px);

  margin: 0;
  margin-bottom: 13px;
  color: $balticsea;
}

.converter-history__list {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 289px;
  margin-bottom: 10px;
  padding-top: 37px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 289px;
    background-color: $frenchgrey;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.converter-history__list-column {
  @include list-style-none;

  display: flex;
  flex-direction: column;
  width: 392px;
  min-height: 200px;
}

.converter-history__item {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.converter-history__date,
.converter-history__start-sum,
.converter-history__result-sum {
  @include font-family;
  @include font-size(18px, 500, 16px);

  margin: 0;
}

.converter-history__date {
  margin-right: 40px;
}

.converter-history__start-sum {
  margin-right: 13px;
}

.converter-history__item-icon {
  margin-right: 13px;
}

.converter-history__clear-button {
  @include font-family;
  @include font-size(18px, 700, 25px);

  width: 198px;
  height: 51px;
  padding: 0;
  background-color: $royalblue;
  color: $zircon;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
