@import '../../sass/variables';
@import '../../sass/mixins';

.header {
  display: flex;
  justify-content: center;
  min-height: 91px;
  background-color: $zircon;
}

.header__container {
  @include container;

  display: flex;
  align-items: baseline;
  padding-top: 27px;
}

.header__logo {
  margin-right: 58px;
}

.header__user-block {
  margin-left: auto;
  margin-right: 1px;
}
